
// Font Family

$heading-font: var(--heading-font);

$body-font: var(--body-font);

// colors

$primary-color: var(--primary-color);

$secondary-color: var(--secondary-color);

$secondary-light-color: var(--secondary-light-color);

$heading-color: var(--primary-dark-color);

$white-color: var(--white-color);

$text-color: var(--text-color);

$light-gray: var(--light-gray);

$main-bg: var(--main-bg);

$gray-bg: var(--gray-bg);

// Font Size

$h1-font: 60px;

$h2-font: 36px;

$h3-font: 30px;

$h4-font: 24px;

$h5-font: 20px;

$h6-font: 18px;

$font-16: var(--font-16);

$font-18: var(--font-18);

// Responsive Variables

$lp: 'only screen and (min-width: 1200px) and (max-width: 1450px)';

$lm : '(max-width: 1199px)';

$lg : 'only screen and (min-width: 992px) and (max-width: 1199px)';

$xm:'(max-width: 991px)';

$md:'only screen and (min-width: 768px) and (max-width: 991px)';

$xs:'(max-width: 767px)';

$xss:'(max-width: 575px)';

$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';